* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

title {
    color: #eeeeee;
}

body {
    font-family: 'Montserrat';
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.table {
    margin: 10vw;

}

ul {
    list-style: none;
}

a:visited a:link{
    text-decoration: none;
}

.teams {
    display: grid;
    grid-template-columns: repeat(5, 16vw);
    grid-template-rows: repeat(2);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: max-content;
}

.mercedes { grid-area: 1 / 1 / 2 / 2; }
.alpine { grid-area: 1 / 2 / 2 / 3; }
.haas { grid-area: 1 / 3 / 2 / 4; }
.redbull { grid-area: 1 / 4 / 2 / 5; }
.mcLaren { grid-area: 1 / 5 / 2 / 6; }
.astonmartin { grid-area: 2 / 1 / 3 / 2; }
.ferrari { grid-area: 2 / 2 / 3 / 3; }
.alphatauri { grid-area: 2 / 3 / 3 / 4; }
.alfaromeo { grid-area: 2 / 4 / 3 / 5; }
.williams { grid-area: 2 / 5 / 3 / 6; }

.classBcg {
    padding: 1vw 1vw 1vw 1vw;
    background-color: #e10600;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: larger;
}

button {
    text-decoration: none;
    width: 100%;
}

footer {
    bottom: 0;
}