<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/index.css">
<link rel="icon" href="img/f1-new-logo.svg">
<head>
    <meta charset="UTF-8">
    <title>F1 informator</title>
    <style rel></style>
</head>

<body>
<h1>F1 informator page</h1>
<div class="all">
    <div class="teams">
        <div class="Mercedes classBcg" >
            <div>Mercedes</div>
            <a th:href="${information}"></a>
        </div>

        <div class="Alpine classBcg">
            <div>Alpine</div>
        </div>

        <div class="Haas classBcg">
            <div>Haas</div>
        </div>

        <div class="RedBull classBcg">
            <div>RedBull</div>
        </div>

        <div class="McLaren classBcg">
            <div>McLaren</div>
        </div>

        <div class="AstonMartin classBcg">
            <div>AstonMartin</div>
        </div>

        <div class="Ferrari classBcg">
            <div>Ferrari</div>
        </div>

        <div class="AlphaTauri classBcg">
            <div>Alpha Tauri</div>
        </div>

        <div class="AlfaRomeo classBcg">
            <div>Alfa Romeo</div>
        </div>

        <div class="Williams classBcg">
            <div>Williams</div>
        </div>
    </div>
</div>

<h3>page by Ian Canals Wąsik s23538</h3>
</body>

</html>