<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="icon" href="png/f1logo.svg">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/navbar.css">
    <meta charset="UTF-8">
    <title>F1 informator</title>
</head>

<body>

<div class="all">
    <div class="navbar">
        <div sec:authorize="isAuthenticated()" class="navbar">
<!--            <div class="welcome">-->
<!--                <h1 sec:authorize="isAuthenticated()" href="#">Welcome</h1>-->
<!--            </div>-->
            <div class="info">
                <h1>F1</h1>
            </div>
            <div class="logout">
                <form th:action="@{/logout}" method="post">
                    <input class="logoutBtn" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>

    <div class="table">
        <ul class="teams">
            <li th:each="informationinfo : ${information}" th:class="${informationinfo.shortName}">
                <a th:href="@{/information/{id}(id=${informationinfo.id})}" th:inline="text" style="text-decoration: none">
                    <button class="Mercedes classBcg" th:text="${informationinfo.shortName.toUpperCase()}"></button>
                </a>
            </li>
        </ul>
    </div>

</div>


<footer>page by Ian Canals Wąsik s23538</footer>
</body>

</html>