<!doctype html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf8"/>
    <link th:rel="stylesheet"  th:href="@{/css/login.css}">
    <title>JAZ projekt</title>
</head>

<body>
<!--<div class="popup" id="popup-1">-->
<!--    <div class="content" id="content">-->
<!--        <div class="form-container sign-up-container">-->
<!--&lt;!&ndash;            <form name="register" th:action="@{/register}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                <h1>Create Account!</h1>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" placeholder="Username" name="username" required>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" placeholder="Name" name="name" required>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" placeholder="Surname" name="surname" required>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="password" placeholder="Password" name="password" required>&ndash;&gt;-->
<!--&lt;!&ndash;                <button>Sign up</button>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--        </div>-->




<!--        <div class="form-container sign-in-container">-->
            <form name="login" action="/login" method="post">
                <h1>Sign in!</h1>
                <input type="text" placeholder="Username" name="usernameLogin" required>
                <input type="password" placeholder="Password" name="passwordLogin" required>
                <button>Sign in</button>
            </form>
<!--        </div>-->




<!--        <div class="overlay-container" id="overlay-sign">-->
<!--            <div class="overlay">-->
<!--                <div class="overlay-panel overlay-left">-->
<!--                    <h1>Welcome Back!</h1>-->
<!--                    <p>-->
<!--                        Please sign in with your personal information, and enjoy!-->
<!--                    </p>-->
<!--                    <button class="ghost" id="signIn">Sign In</button>-->
<!--                </div>-->
<!--                <div class="overlay-panel overlay-right">-->
<!--                    <h1>Hello stranger!</h1>-->
<!--                    <p>-->
<!--                        Enter your information to begin your journey!-->
<!--                    </p>-->
<!--                    <button class="ghost" id="signUp">Sign Up</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
<script>
    const signUp = document.getElementById('signUp');
    const signIn = document.getElementById('signIn');
    const content = document.getElementById('content');

    signUp.addEventListener('click', () => {
        content.classList.add("right-panel-active");
    });

    signIn.addEventListener('click', () => {
        content.classList.remove("right-panel-active");
    });
</script>
</body>